<!DOCTYPE html>
<html>
<head>
	<title>FIEDLER AMS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/theme.css">

	<script type="text/javascript" src="assets/angular/angular.min.js"></script>
</head>
<body ng-app="fiedlerApp"  ng-controller="fiedlerAppCtrl">

		<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">FIEDLER AMS</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="admin">Connexion</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

		<section>
			<div class="container theme-showcase">
				<div class="page-header">
		        	<h1>CONTRÔLE DE PRESENCE</h1>
		      	</div>

		      	<!--div ng-bind-html = "repAlert"></div-->

		      	<div class="row">
		      		<div ng-repeat="worker in workers" class="col-sm-3 col-xs-6">
		      			<a ng-click="addAttendance(worker)" href="">
		      				<div class="worker-box" ng-class="{ present : worker == wcourant}">
			      				<div class="row">
			      					<div class="col-md-4">
			      						<img class="img-circle" style="width: 80px; height: 80px;" src="assets/img/avatar.png" data-holder-rendered="true">
			      					</div>
			      					<div class="col-md-8">
			      						<div class="infos">
					      					<div>Nom : {{worker.lastname}}</div>
					      					<div>Prénom : {{worker.firstname}}</div>
					      					<div>Phone : {{worker.phone}}</div>
					      					<div>Email : {{worker.email}}</div>
					      				</div>
			      					</div>
			      				</div>
			      			</div>
		      			</a>
		      		</div>		      		
		      	</div>
			</div>
		</section>
	
	<script type="text/javascript" src="assets/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/angular/app.js"></script>
	<script type="text/javascript" src="assets/angular/angular-sanitize.min.js"></script>
</body>
</html>