body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #FFF;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.worker-box{
	width: 100%;
	min-height: 150px;
	margin-bottom: 10px;
	background-color: #F9F9F9;
	padding: 7px;
	border-radius: 5px;
	border: solid 1px #d4d4d4;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.row a {
	color: #000;
}

.row a:hover{
	text-decoration: none;
}

.present{
	background-color: #5cb85c;
}
